# a config file for PPanGGOLiN, you can copy this file and rename it and edit the values to your needs

#PATH parameters
project_clone_path=path/to/PPanGGOLiN_JSS
conda_source_path=path/to/conda.sh
conda_env_name=ppanggolin

#SLURM parameters
cpus_allocated=1
mem_allocated=4G
partition=project

#LOCAL parameters
